.square {
    flex: 33%;
    height: 100%;
    border: 1px solid #fff;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.square:active {
    background-color: #CF9853;
}